<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo">동백일보</div>
            <div class="footer-info">
                서울특별시 중구 세종대로 124 | 대표전화 : 02-123-4567<br>
                등록번호 : 서울 가-12345 | 등록일자 : 2025년 1월 1일<br>
                발행인 : 김동백 | 편집인 : 이백동<br>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-links-section">
                <h4>서비스</h4>
                <ul>
                    <li><a href="#">구독신청</a></li>
                    <li><a href="#">전자신문</a></li>
                    <li><a href="#">모바일 앱</a></li>
                    <li><a href="#">뉴스레터</a></li>
                </ul>
            </div>

            <div class="footer-links-section">
                <h4>회사안내</h4>
                <ul>
                    <li><a href="/history">회사소개</a></li>
                    <li><a href="/contact">광고안내</a></li>
                    <li><a href="/team">팀소개</a></li>
                    <li><a href="/jobs">채용정보</a></li>
                </ul>
            </div>

            <div class="footer-links-section">
                <h4>고객센터</h4>
                <ul>
                    <li><a href="/contact">고객센터</a></li>
                    <li><a href="/faq">자주묻는질문</a></li>
                    <li><a href="/contact">독자의견</a></li>
                    <li><a href="/contact">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        &copy; 2025 동백일보. All rights reserved. | 등록번호: 서울, 아03029 | 등록일자: 2025.01.01 | 발행인: 김동백 | 편집인: 이백동
    </div>
</footer>
</html>