<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo">동백일보</div>
            <div class="footer-info">
                고양시 덕양구 향동동 521 | 대표전화 : 02-123-4567<br>
                등록번호 : 고양 가-12345 | 등록일자 : 2025년 4월 9일<br>
                발행인 : 김지환 | 편집인 : 박수현<br>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-links-section">
                <h4>회사 안내</h4>
                <ul>
                    <li><a href="/mission">회사 소개</a></li>
                    <li><a href="/contact">광고 안내</a></li>
                    <li><a href="/team">팀 소개</a></li>
                    <li><a href="/jobs">채용 정보</a></li>
                </ul>
            </div>

            <div class="footer-links-section">
                <h4>고객센터</h4>
                <ul>
                    <li><a href="/terms">약관</a></li>
                    <li><a href="/faq">자주 묻는질문</a></li>
                    <li><a href="/contact">독자의견</a></li>
                    <li><a href="/privacy">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        &copy; 2025 동백일보. All rights reserved. | 등록번호: 일산, 아03029 | 등록일자: 2025.04.09 | 발행인: 김지환 | 편집인: 박수현
    </div>
</footer>
</html>