<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- 헤더 -->
<header th:fragment="header">
    <div class="container">
        <div class="main-header">
            <a href="/main" class="logo">동백일보</a>
        </div>
    </div>

    <!-- 네비게이션 -->
    <nav class="main-nav">
        <div class="container">
            <ul class="nav-items">
                <li class="nav-item" th:classappend="${current == 'main'} ? 'active' : ''">
                    <a href="/main">전체</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'world'} ? 'active' : ''">
                    <a href="/world">국제</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'politic'} ? 'active' : ''">
                    <a href="/politic">정치</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'economy'} ? 'active' : ''">
                    <a href="/economy">경제</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'industry'} ? 'active' : ''">
                    <a href="/industry">산업</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'culture'} ? 'active' : ''">
                    <a href="/culture">예술</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'column'} ? 'active' : ''">
                    <a href="/column">칼럼</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'video'} ? 'active' : ''">
                    <a href="/video">영상</a>
                </li>
                <li class="nav-item search-nav-item">
                    <span class="search-icon-css"></span>
                    <form class="search-form" th:action="@{/search}" method="get" style="display: none;">
                        <input type="text" name="query" class="search-input" placeholder="검색어를 입력하세요" required>
                        <button type="submit" class="search-button">검색</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>