<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="icon" href="/images/icon.jpg" type="image/jpeg">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-container">
  <h2>로그인</h2>
  <form id="loginForm">
    <input type="text" id="username" placeholder="사용자명" required>
    <input type="password" id="password" placeholder="비밀번호" required>
    <button type="submit">로그인</button>
    <p class="error" id="errorMessage">사용자명 또는 비밀번호가 잘못되었습니다.</p>
  </form>
  <a class="forgot-password" href="#">비밀번호를 잊으셨나요?</a>
  <a class="kakao-login" href="/oauth2/authorization/kakao">카카오 로그인</a>
  <a class="signup-container" href="signup">회원가입</a>
</div>
<script src="/js/login.js"></script>
</body>
</html>
